.hero {
  background: url("#{$background-path}/ball-vortex.png") no-repeat center /
    cover;
  position: relative;

  &__container {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 0;
    padding: 1.5rem 0;
  }

  &__content {
    max-width: 46rem;
    margin: 8rem auto;
  }

  &__image {
    left: 0;
    height: 100%;
    width: 29rem;
    object-fit: cover;
    object-position: -2rem top;
    position: absolute;
    bottom: 0;
  }

  &__title {
    font-family: $primary-font;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 4.25rem;
    line-height: 1;
    margin-bottom: 1.25rem;
  }

  &__text {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;

    & + & {
      max-width: 40rem;
      margin: {
        left: auto;
        right: auto;
        top: 5rem;
      }
    }
  }
}

@mixin hero-xl {
  .hero {
    &__container {
      flex-direction: column;
      padding: 2rem 1.5rem;
    }
    &__image {
      display: none;
    }
  }
}

@mixin hero-md {
  .hero {
    padding: 3rem 0;
    &__container {
      min-height: auto;
    }

    &__content {
      margin: 0;
    }

    &__title {
      font-size: 3rem;
      text-wrap: balance;
      margin-bottom: 3rem;
    }

    &__text {
      font-size: 1.25rem;
      text-wrap: balance;

      & + & {
        margin-top: 1rem;
      }
    }
  }
}
